.main {
  width: 85%;
  margin: auto;
  padding: 100px 0;
}

.mainProjectContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  box-shadow: rgb(247, 173, 173) 0px 5px 15px 5px;
  border-radius: 10px;
  /* box-shadow: rgb(193, 227, 250) 0px 5px 15px 5px; */
  /* margin: 50px auto; */
  margin: 0 auto;
}

.mainProjectContainer h1 {
  padding: 50px 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400px;
}

.ProjectContainer {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.projects {
  width: 20%;
  align-items: center;
  text-align: center;
  color: rgb(170, 97, 97);
  padding: 5px 15px;
}

h4 {
  font-size: 1rem;
  padding-bottom: 5px;
}

img {
  width: 90%;
  height: 120px;
  text-align: center;
  border-radius: 15%;
}

img:hover {
  box-shadow: 0 0 20px 5px rgba(83, 12, 16);
}

@media screen and (max-width: 640px) {
  .main {
    width: 85%;
    height: auto;
  }

  .mainProjectContainer {
    width: 100%;
    height: auto;
  }

  .ProjectContainer {
    width: 95%;
    display: block;
    align-items: center;
    /* padding: 10px; */
  }
  .projects {
    width: 80%;
    height: auto;
    margin: auto;
  }

  .heading h1 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
  img {
    width: 80%;
    height: 20%;
    text-align: center;
    border-radius: 15%;
  }
  img:hover {
    box-shadow: 0 0 20px 5px rgba(83, 12, 16);
  }
}
