.main {
  width: 85%;
  margin: auto;
  /* Add height for controll the animation */
  height: 100vh;
  /* padding: 100px 0; */
}
.skillContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  /* margin: 50px auto; */
  margin: 0 auto;
  box-shadow: rgb(247, 173, 173) 0px 5px 15px 5px;
  border-radius: 10px;
}
.skillContainer h1 {
  padding: 20px 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400px;
}
.tagcloud {
  display: inline-block;
  top: 0;
  font-size: 1.5rem;
  color: rgb(171, 68, 68);
  font-family: "Oswald", sans-serif;
  /* font-weight: 400; */
  letter-spacing: 0.0625em;
  z-index: -1;
}
.tagcloud:hover {
  color: rgb(22, 3, 3);
}
