.main {
  width: 85%;
  margin: auto;
  padding: 100px 0;
}

.aboutContainer {
  width: 100%;
  height: 100%;
  /* text-align: center; */
  box-shadow: rgb(247, 173, 173) 0px 5px 15px 5px;
  border-radius: 10px;
  display: flex;
  padding: 30px 50px;
  /* margin: 50px auto; */
  margin: 0 auto;
}

.aboutContainer img {
  width: 220px;
  height: 250px;
  border-radius: 50%;
  box-shadow: rgb(163, 212, 245) 0px 5px 15px 5px;
}
.detail {
  width: 80%;
}
p {
  padding-left: 50px;
  color: rgb(170, 97, 97);
  text-align: justify;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
}
p a {
  color: rgb(170, 97, 97);
}
p a:hover {
  color: rgb(60, 5, 5);
}

@media screen and (max-width: 640px) {
  .aboutContainer {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .aboutContainer img {
    /* padding-left: 50px; */
    width: 180px;
    height: 200px;
    border-radius: 50%;
  }
  .detail {
    width: 100%;
    padding: 20px;
  }
  p {
    padding-left: 0;
    color: rgb(170, 97, 97);
    text-align: center;
    font-size: 1rem;
    /* letter-spacing: 0.125rem; */
  }
}
