.homeContainer {
  width: 85%;
  margin: 50px auto;
  padding: 100px 0;
  text-align: center;
}

.mainHeading {
  font-size: 2.75em;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.heading {
  margin: 20px 0 10px;
  font-size: 1.5em;
  letter-spacing: 0.125rem;
}
.section {
  width: 100%;
  display: flex;
}
.left {
  width: 60%;
  justify-content: center;
}
.right {
  width: 40%;
  justify-content: center;
}

.tagcloud {
  display: inline-block;
  top: 0;
  font-size: 1.5rem;
  color: rgb(171, 68, 68);
  font-family: "Oswald", sans-serif;
  /* font-weight: 400; */
  letter-spacing: 0.0625em;
  z-index: -1;
}
.tagcloud:hover {
  color: rgb(22, 3, 3);
}

.fade img {
  margin-top: 20px;
  width: 80px;
  height: 60px;
  opacity: 1;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
  z-index: -2;
}

.fade img:hover {
  opacity: 1;
  box-shadow: none;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 30px;
    opacity: 0.1;
  }
}

@media screen and (max-width: 640px) {
  .homeContainer {
    width: 85%;
    margin: 50px auto;
    padding: 70px 0;
    text-align: center;
  }

  .mainHeading {
    font-size: 2em;
  }
  .heading {
    margin: 10px 0 5px;
    font-size: 1em;
  }
  .section {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .tagcloud {
    padding: 10px 5px;
    z-index: -1;
  }
}
