.homeContainer {
  margin: 20px auto;
  padding: 100px 0;
  text-align: center;
  width: 85%;
  /* height: 100vh; */
  height: auto;
}

.mainHeading {
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.heading {
  margin: 20px 0;
  font-size: 2rem;
}

.fade img {
  margin-top: 20px;
  width: 80px;
  height: 60px;
  opacity: 1;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
  z-index: -2;
}

.fade img:hover {
  opacity: 1;
  box-shadow: none;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 30px;
    opacity: 0.1;
  }
}

@media screen and (max-width: 640px) {
  .mainHeading {
    font-size: 2.5em;
  }
  .heading {
    font-size: 1.25rem;
  }
}
