.container {
  background-color: rgba(235, 155, 159, 0.15);
  display: flex;
  /* justify-content: space-between; */
  cursor: pointer;
  /* max-width: 100%; */
}

.navMenu {
  display: flex;
  margin: 0.5em;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  /* display: block; */
  display: noen;
  padding: 0.5em;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

i {
  display: noen;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: larger;
  font-weight: bold;
}

.hamburger {
  display: none;
}

@media (max-width: 380px) {
  .hamburger {
    display: block;
  }
  /* .navMenu {
    display: noen;
  } */
}
