.navbar {
  width: 100%;
  height: 12vh;
  /* line-height: 10vh; */
  /* background: rgb(246, 222, 223); */
  background: rgb(237, 205, 206);
  box-shadow: 0 5px 15px rgba(245, 26, 26, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  /* For stick the navbar */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navLogo {
  width: 60px;
  height: 55px;
  border-radius: 45%;
}

/* Hover effect on navlogo is deleted */
.navLogo:hover {
  box-shadow: none;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-mobile {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 1.7rem;
  padding: 0 10px;
  /* margin: 0 10px; */
  cursor: pointer;
}
.active {
  text-decoration: none;
  color: rgb(162, 67, 67);
}

.nav-links a:hover,
.nav-links a.active:hover {
  color: rgb(96, 6, 6);
  /* 
  text-decoration: underline; */
}

button {
  border: none;
  background: none;
  /* font-size: 20px; */
  font-size: 1.5rem;
}
.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    height: auto;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: 0 5px 15px rgba(245, 26, 26, 0.15);
    left: 0;
    top: 11vh;
    height: 89vh;
    transition: 0.5s ease-in-out;
    width: 100%;
    /* background-color: rgb(238, 206, 208); Before I use that color*/
    background-color: rgb(246, 215, 218);
    color: rgb(162, 67, 67);
    /* overflow: hidden; */
  }
  ul li {
    padding: 25px;
    width: 100%;
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 30px;
    color: rgb(162, 67, 67);
  }
  .navLogo {
    width: 50px;
    height: 45px;
    border-radius: 50%;
  }
}
