nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: blue; */
  background: rgba(235, 155, 159, 0.15);
  padding: 0 20px;
  box-shadow: 0 5px 15px rgba(245, 26, 26, 0.15);
}

.navLogo {
  width: 60px;
  height: 50px;
  border-radius: 10px;
}
#navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navMenu li {
  list-style: none;
  padding: 0 10px;
  position: relative;
}

#navMenu li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(170, 97, 97);
  transition: 0.3s ease-in-out;
}

#navMenu li a:hover,
#navMenu li a.active:hover {
  color: rgb(96, 10, 10);
  text-decoration: underline;
}

#smallScreen {
  display: none;
}

#smallScreen i {
  color: rgb(201, 119, 119);
}

@media screen and (max-width: 440px) {
  #navMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    /* top: 50px;
    right: -100%; */
    top: 50px;
    right: -150px;

    /* here width is 300px */
    width: 150px;
    height: 50vh;
    /* background: rgb(236, 184, 187); */
    background: rgb(212, 186, 187);
    color: rgb(27, 11, 11);
    padding: 20px 0 0 10px;
    align-items: center;
    /* line-height: 2em; */
    transition: 0.3s ease-in-out;
  }
  #navMenu.active {
    right: 0px;
  }
  #smallScreen {
    display: block;
  }

  #navMenu li {
    margin-bottom: 25px;
  }

  #smallScreen i {
    font-size: 24px;
    cursor: pointer;
  }
}
